color-grey-light = #cfd8dc
color-grey-normal = #607d8b
color-grey-dark = #263238

color-red-light = #ef9a9a
color-red-dark = #b71c1c

color-yellow-dark = #f9a825

color-green-dark = #00c853

color-purple = #7e57c2
